{% extends 'base.html'%}
    {% import 'macros.html' as macro%}
    {% if title %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to the News website online</title>
    {% endif %}
</head>
<body>
    <!-- Styles block -->
    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/index.css')}}">
    {% endblock %}
    <!-- Content block -->
    {% block content %}
    <div class="container">
        <form>
            <input type="text" name="news_query" placeholder="Search for News" class="form_control">
            <input type="submit" value="Submit" class="btn btn-default">
        </form>
    </div>
    <!-- Popular News -->
    <h3> Independent News</h3>
    <ul>
        {{ macro.displayNewsList(independent)}}
    </ul>
    <!-- Upcoming News  -->
    <h3> Techcrunch News</h3>
    <ul>
        {{ macro.displayNewsList(techcrunch)}}
    </ul>
    <!-- Now showing News -->
    <h3>Focus News</h3>
    <ul>
        {{ macro.displayNewsList(focus)}}
    </ul>
    {% endblock%}
</body>
</html>